/* background */
body {
    background: url("img/bg.jpg");
    background-size: 100% 100%;
    height: 100%;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* end background */

html {
    width:100%;
    height:100%;
    overflow: hidden;
}

h1 {
    font-family: 'Concert One', sans-serif;
    color: white;
}

.themeFont{
    font-family: 'Concert One', sans-serif;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}


/* -- START Loading -- */
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
/* -- END Loading -- */

/* button */
.black-stroke{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* modal */
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #7e7e7e;
    }
  
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #7e7e7e;
  }
